<div class="header">
    <h1>
        <a href="/">ロゴ</a>
    </h1>
    <div class="nav">
        <ul>
            <% if user_signed_in? %>
                <%if current_user.posts.find_by("created_at >= ?", Date.today) == nil%>
                    <li><%=link_to "投稿", new_post_path %></li>
                <%end %>
                <li><%= link_to "プロフィール", profiles_path%></li>
                <li><%= link_to "カテゴリ一覧", posts_path%></li>
                <li><%=link_to "ログアウト", destroy_user_session_path, method: :delete%></li>
            <% else %>
                <li><%= link_to "新規登録", new_user_registration_path%></li>
                <li><%= link_to "ログイン", new_user_session_path%></li>
            <% end %>
        </ul>
    </div>
</div>