<div class="main">
<% if user_signed_in? %>
    <%= @posts.find_each do |post|%>
        <% if post.user.profile.blank?%>
            <p>
                <%if post.user.id === current_user.id%>
                    <%= link_to "あなた" , new_profile_path%>　
                <%else%>
                    名無し
                <%=post.post%>
                <%= link_to post.wont ,post_path(post.id)%>
                <%end%>
            </p>
        <%else %>
            <p>
            <% if post.user.id === current_user.id %>
                <%= link_to post.user.profile.name , profiles_path%>
                <%=post.post%>
                <%= link_to post.wont ,post_path(post.id)%>
                <%= link_to "編集", edit_post_path(post.id)%>
                <%= link_to "削除", post_path(post.id), method: :delete%>
            <%else%>
                <%= link_to post.user.profile.name , profile_path(post.user.id)%>
                <%=post.post%>
                <%= link_to post.wont ,post_path(post.id)%>
            <%end%>
            </p>
        <%end %>
    <%end%>
<%end%>
</div>